body {
  margin: 0;
  background-color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
  border-radius: 50%;
  background-color: white;
  color: #40514E;
}

a {
  outline: blue;
  text-decoration: blue;

  text-align: center;
  line-height: 3;
  color: #11999E;
}

.superstar {
  border-radius: 25%;
  margin: auto;
  width: auto;
  margin-bottom: 40px;
}

.introduction {
  width: 30%;
  margin: auto;
  margin-bottom: 50px;
  color: #11999E;
  line-height: 2;
  text-decoration: none;

}

.first {
  font-size: 50px;
  border-radius: 50%;
}

/* .music-list {
  clear: right;
} */

.pro {
  padding-top: 25px;
  width: 15%;
  float: inherit;
  border-radius: 50%;
}

.intro {

  margin-left: 30px;
  line-height: normal;
  position: relative;
  text-align: center;
  margin-top: 40px;
  line-height: 4;

}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 44%;
}



/* .line-row {
border-color: gray;
border-bottom: 1px;
border-width: medium;
border-collapse: separate;
border-radius: 5%;
border-style: solid;
border-color: #11999E;

} */

/* .WinSocialMedia {
  font-style: normal;
} */

.hotwings {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact {
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);

  text-decoration: none;

  background-color: #11999E;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 10px;
  color: white;
  font-family:sans-serif;
  font-size: 18px;
  text-align: center;
  position: relative;
  line-height: 3
  font-style: normal;
  box-shadow: 10%;
  box-radius: 15px;

}

.contact:hover {
  background-color: #66bfbf;
}

.artist:hover {
  color: gold;

}

.pro2:hover {
  color: gold;
}

.Startup {
position: absolute;
margin-left: 165px;
margin-bottom: 0px;
font-weight: bolder;
line-height: 2;


}


.idea-img {
  width: 25%;
  float: right;
  margin-left: 40px;
  margin-bottom: 100px;
  border-radius: 50%;
}

.artisawareness-shirt {
  width: 35%;
  float: left;
  margin-right: 35px;
  margin-bottom: 100px;
  border-radius: 50%;
}

.marketing-img {
  width: 25%;
  float: right;
  margin-left: 60px;
  margin-top: 5px;
  border-radius: 50%;
}

.piano {
  width: 35%;
  float: left;
  margin-right: 85px;
  margin-bottom: 150px;
  border-radius: 50%;
}

.a {
  color: gold;
}

.pro {
  font-weight: normal;
  line-height: normal;
  color: gold;
}

.pro2 {
  text-decoration: underline;
}

h1 {
  margin-top: 0;
  font-style: normal;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bolder;
  text-decoration: inherit;
  font-style: normal;

}

p {
  font-style: normal;
}

ul li::marker {
  color: white;
  font-size: 1.5em;
  font-style: italic;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 125px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}



.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
  /* margin: auto;
  margin-top: 100px;
  margin-bottom: 100px; */
}

.bottom-container {
  background-color: #66BFBF;
  height: 200px;
  width: auto;
  margin-top: 50px;

}

.footer-link {
  color: #11999E;
  position: relative;
  top: 50px;
  padding: 10px; 20px;
  :hover-after: white;
}

.footer-link:hover {
  color: white;
}

.copy-right {
color: white;
position: relative;
top: 60px;
font-size: 0.75rem;
}

/* .top {
  background-color: pink;
  position: relative;

  border-radius: 10px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
} */
/*
.middlecontainer {
  background-color: blue;
  height: 200px;
  width: 200px;


}

.bottomcontainer {
  background-color: red;
  height: 200px;
  width: 200px;
} */
